.main{
  color: #3b3b3b;
}

.title{
  text-align: center;
  font-weight: 400;
}

.cardsGrid{
  justify-content: center;
  width: 100%;
  
  @media all and (min-width: 415px){
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

}